target/classes/Fluxos/num-aleatorio.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<flow name="get:\numero:numbers-api-config" doc:id="1851819c-8875-4ad7-a869-52476d4be2b4" >
		<logger level="INFO" doc:name="Logger" doc:id="d7c68240-55c7-4de0-85c0-beee5f860b7e" message="#[payload]" category="init"/>
		<http:request method="GET" doc:name="Request" doc:id="b2a4b289-e317-45b0-ac52-5708d05592e9" config-ref="HTTP_Request_configuration" path="/random"/>
		<ee:transform doc:name="Transform Message" doc:id="dedcae91-ae80-4047-a6ce-b4026027e485" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="2b53656d-cde0-499f-977e-705906448c5f" message="#[payload]" category="end"/>
	</flow>
</mule>
