target/META-INF/mule-src/api-number/src/main/mule/Fluxos/num-tipo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<flow name="get:\numero\(id)\(tipo):numbers-api-config" doc:id="e2b646a7-227d-4d91-a724-0ed49e9104ba" >
		<http:request method="GET" doc:name="Request" doc:id="188297a5-7b8a-400c-a380-05edbe37800c" config-ref="HTTP_Request_configuration" path="/{id}/{tipo}">
			<http:uri-params ><![CDATA[#[output application/java
---
{
	'id' : attributes.uriParams.'id',
	'tipo' : attributes.uriParams.'tipo'
}]]]></http:uri-params>
		</http:request>
		<ee:transform doc:name="Transform Message1" doc:id="ccaebcbe-48d6-4bd3-80cf-13b918ed9f3b" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
